<table class='table table-striped'>
    <thead>
        <tr>
            <th>Mã người dùng</th>
            <th>Họ và Tên</th>
            <th>Tên tài khoản</th>
            <th>Email</th>
            <th>Cồng việc</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lst of list">
            <td>{{lst.userId}}</td>
            <td>{{lst.fullName}}</td>
            <td>{{lst.userName}}</td>
            <td>{{lst.email}}</td>
            <td>{{lst.job}}</td>
            <td><button *ngIf="!checkIsShow(lst.typeUser)&&!isShow" class="btn btn-primary px-4"(click)="addAdminAccount(lst)">Add</button>
            <button *ngIf="checkIsShow(lst.typeUser)&&isShow" class="btn btn-danger" (click)="removeAdminAccount(lst)">Remove</button></td>
        </tr>
    </tbody>
</table>