<form>
    <h3>Thông tin cá nhân</h3>
    <table class="table table-borderless">
          <tr>
            <td>
                <div class="input-group-prepend d-block">
                <span class="input-group-text">Họ và tên</span>
                </div>
            </td>
            <td><input type="text" class="form-control d-inline" ></td>
          </tr>
          <tr>
            <td>
                <div class="input-group-prepend d-block">
                    <span class="input-group-text">Địa chỉ mail</span>
                </div>
            </td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>
                <div class="input-group-prepend d-block">
                    <span class="input-group-text">Nghề nghiệp</span>
                </div>
            </td>
            <td><input type="text" class="form-control"></td>
          </tr>
      </table>
      <h3>Thông tin tài khoản</h3>
      <table class="table table-borderless">
          <tr>
            <td>
                <div class="input-group-prepend d-block">
                <span class="input-group-text">Tên tài khoản </span>
                </div>
            </td>
            <td><input type="text" class="form-control d-inline" ></td>
          </tr>
          <tr>
            <td>
                <div class="input-group-prepend d-block">
                    <span class="input-group-text">Mật khẩu</span>
                </div>
            </td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><button class="btn btn-primary">Đăng ký</button></td>
            <td><button class="btn btn-primary">Sửa</button></td>
            <td><button class="btn btn-primary">Đăng nhập</button></td>
          </tr>
        </table>
        
        
  </form>