<div class="container my-2">
    <div class="row">
        <!--<input type="search" class="rounded-left col-xl-11" >  
        <label class="rounded-right col-xl-1 bt btn-primary">Search</label>-->
        
        <!--
        <table class='table table-striped col-xl-11' aria-labelledby="tableLabel">
          <tbody>
            <tr *ngFor="let i of lst">
              <td *ngIf="check(value,i)">{{i}}</td>
            </tr>
          </tbody>
        </table>-->
      
      
      
    </div>
  <div class="my-3" style="z-index: -1;">Các bệnh được lưu nhiều</div>
  <google-chart
   [title]="title"
   [type]="type"
   [data]="data"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="listy">
  <tr *ngFor="let lt of listy">
    <td>
      <div>
        <p>{{lt.mact}}</p>
        <p>{{lt.macv}}</p>
        <p>{{lt.matd}}</p>
        <p>{{lt.makn}}</p>
      </div>
    </td>
  </tr>
</table>

 