<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block bg-white" id="border">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Tài khoản</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf=showDropDownMenu()>
          <a class="d-block text-dark my-3 mx-2" ngbDropdownItem routerLink="/account">Thông tin tài khoản</a>
          <a class="d-block text-dark my-3 mx-2" ngbDropdownItem  href="#">Danh mục bệnh</a>
          <a class="d-block text-dark my-3 mx-2" href="#" ngbDropdownItem>Bệnh đã xem</a>
          <a class="d-block text-dark my-3 mx-2" href="#" ngbDropdownItem routerLink="/diseases-save">Bệnh đã lưu</a>
          <a class="d-block text-dark my-3 mx-2" href="#" ngbDropdownItem (click)='deleteCookie()'>Đăng xuất</a>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf=!showDropDownMenu()>
            <a class="d-block text-dark my-3 mx-2" ngbDropdownItem routerLink="/signin">Đăng Nhập</a>
            <a class="d-block text-dark my-3 mx-2" ngbDropdownItem routerLink="/signout">Đăng Ký</a>
          </div>
    </div>
    
    </div>
  </div>
