.body-tl{
    font-size: 30px;
}
.turn-up--tab{
    justify-content: center;
}
.turn-up--tab ul{
    margin: 25px 0;
    list-style: none;
    display: flex;
}
.turn-up--tab ul li {
    position: relative;
    width: 100%;
    flex: 0 0 24%;
    text-align: center;
    font-size: 16px;
    padding: 14px 0 12px;
    font-weight: 700;
    background: #E7E7E7 none;
    display: block;
}
.turn-up--tab ul li:first-child {
    border-radius: 23px 0 0 23px;
    
}
.turn-up--tab ul li:last-child {
    border-radius: 0 23px 23px 0;
}
.turn-up--tab ul li.turn-up--active{
    background: #1576C4;
    color: #fff;
}
.turn-up--tab ul li:hover{
    background: #1576C4 none;
    color: #fff;
}
.body-list{
    margin: 20px 100px;
}
.mybtn{
    height: 30px;
    text-transform: uppercase;
    padding: 6px 15px 4px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    box-shadow: none;
}
.btn-form--add{
    padding: 2px 0;
    width: 100px;
    color: #fff;
    background: #1576C4 none; 
}
.btn-form--add:hover{
    color: #fff;
    background: #1576C4 none;
    opacity: 0.7;
}
.btn-form--add:focus, .btn-form--delete:focus, .btn-form--edit:focus{
    outline: 0;
}
.btn-form--delete{
    padding: 2px 0;
    margin-left: 10px;
    width: 80px;
    color: #fff;
    background: rgb(233, 32, 32) none;
}
.btn-form--delete:hover{
    opacity: 0.7;
}
.btn-form--edit{
    padding: 2px 0;
    width: 80px;
    color: #fff;
    background: #68b7fc none;
}
.btn-form--edit:hover{
    opacity: 0.7;
}
.items--a{
    vertical-align: middle;
    font-size: 20px;
    padding: 12px 0;
}
.items--a:hover{
    text-decoration: none;
}
.items--bt{
    padding: 12px 0;
    text-align: right;
}

.modal.show{
    display: block;
}