
<div class="title d-flex justify-content-center body-tl">DANH MỤC BỆNH</div>
<div class="turn-up--tab">
    <ul>
        <li data-panel="tab-" class="turn-up--active">Chương</li>
        <li>Nhóm</li>
        <li>STT</li>
        <li>Bệnh</li>
    </ul>
</div>
<button type="button" class="mybtn btn-form--add">Add</button>
<div class="body-list">
    <div class="row">
        <a class="col-sm-10 items--a" href="#">covid-19</a>
        <div class="col items--bt">
            <button class="mybtn btn-form--edit" >Edit</button>
            <br>
            <button class="mybtn btn-form--delete" >Delete</button>
        </div>
    </div>
    <br>
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
</div>


