
<div class="title d-flex justify-content-center body-tl">{{title}}</div>
<div class="turn-up--tab">
    <ul>
        <li (click)="showBodyChapter()" [ngStyle]="isShowChapter ? styleMenuShow : styleMenuHide" class="turn-up--active">Chương</li>
        <li (click)="showBodyGroup()" [ngStyle]="isShowGroup ? styleMenuShow : styleMenuHide">Nhóm</li>
        <li (click)="showBodyNumber()" [ngStyle]="isShowNumber ? styleMenuShow : styleMenuHide">STT</li>
        <li (click)="showBodyDiseases()" [ngStyle]="isShowDiseases ? styleMenuShow : styleMenuHide">Bệnh</li>  
    </ul>
</div>
<div class="body--chapter" *ngIf="isShowChapter">
    <button type="button" class="mybtn btn-form--add">Add</button>
    <div class="body-list" *ngIf="listChapter">
        <div class="row" *ngFor="let chapter of listChapter">
            <a class="col-sm-10 items--a" href="#">{{chapter.name}}</a>
            <div class="col-sm-1 items--bt">
                <button class="mybtn btn-form--edit" >Edit</button>
            </div>
            <div class="col-sm-1 items--bt">
                <button class="mybtn btn-form--delete" >Delete</button>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="body--group" *ngIf="isShowGroup">
    <button type="button" class="mybtn btn-form--add">Add</button>
    <div class="body-list" *ngIf="listGroup">
        <div class="row" *ngFor="let group of listGroup">
            <a class="col-sm-10 items--a" href="#">{{group.name}}</a>
            <div class="col-sm-1 items--bt">
                <button class="mybtn btn-form--edit" >Edit</button>
            </div>
            <div class="col-sm-1 items--bt">
                <button class="mybtn btn-form--delete" >Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="body--number" *ngIf="isShowNumber">
    <button type="button" class="mybtn btn-form--add">Add</button>
    <div class="body-list" *ngIf="listSTT">
        <div class="row" *ngFor="let stt of listSTT">
            <a class="col-sm-10 items--a" href="#">Số TT {{stt.numberId}}</a>
            <div class="col-sm-1 items--bt">
                <button class="mybtn btn-form--edit" >Edit</button>
            </div>
            <div class="col-sm-1 items--bt">
                <button class="mybtn btn-form--delete" >Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="body--disease" *ngIf="isShowDiseases">
    <button type="button" class="mybtn btn-form--add">Add</button>
    <div class="body-list" *ngIf="listDisease">
        <div class="row" *ngFor="let disease of listDisease">
            <a class="col-sm-10 items--a" href="#">{{disease.vietnameseName}}</a>
            <div class="col-sm-1 items--bt">
                <button class="mybtn btn-form--edit" >Edit</button>
            </div>
            <div class="col-sm-1 items--bt">
                <button class="mybtn btn-form--delete" >Delete</button>
            </div>
        </div>
    </div>
</div>




