a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 480px) {
  html {
    font-size: 16px;
  }
  ul.menu{
    display: inline;
    position: absolute;
    display: none;
    padding: 0.5rem;
    background-color: #fff;
  }

  ul.menu li{
    list-style-type: none;
    padding: 2% 0;
  }

  ul.menu li a{
    text-decoration: none;
    color: black;
  }

  li.menu-dropdown:hover ul.menu{
    display: block;
  }

  li.menu-dropdown{
    position: relative;
    padding-right: 100%;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
